* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

/*CLASSI RIUTILIZZABILI*/

.grey-filter {
    filter: invert(50%);
}

.grey-font {
    color: #797979;
}

.white-font {
    color: white;
}

.no-dots {
    list-style-type: none;
}

.font-micro {
    font-size: 8px;
    font-weight: bold;
}

.font-xxs {
    font-size: 10px;
    font-weight: bold;
}


.font-xs {
    font-size: 11px;
    font-weight: bold;
}

.font-s {
    font-size: 13px;
    font-weight: bold;
}

.font-h2 {
    font-size: 20px;
    font-weight: bold;
}

/*CLASSI RIUTILIZZABILI*/


body {
    width: 1250px;
    height: 100vh;
    margin: 0 auto;

}

.flex {
    display: flex;
}

/*HEADER*/

header {

    width: 200px;
    height: 852px;
    background-color: #000000;
}

.big-logo {
    width: 160px;
    padding: 1rem;
}


.main-search-library>li {
    margin-left: 18px;
    margin-bottom: 5px;
}


.playlists>li {
    margin-left: 18px;
    margin-bottom: 5px;
}


li>img {
    width: 22px;
    vertical-align: middle;
}

li span {
    padding-left: 4px;
}

.create-playlist {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

ul.font-xs {
    margin-top: 15px;
}

.font-xs>li {
    padding: 5px 0;
}

.download-app {
    position: relative;
    top: 39.5%;
    margin-left: 18px;
    width: 160px;
}


.download {
    display: flex;
    align-items: center;
    padding-bottom: 7px;
    column-gap: 10px;
}

.download>img {
    width: 15px;
}

.profile {
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding-top: 10px;
}

.profile>img {
    width: 23px;
    height: 23px;
    background-color: #7f7f7f;
    border-radius: 50%;
}

/*HEADER*/




/*MAIN*/

main {
    width: calc(1250px - 200px);
    height: 852px;
    background-color: #141922;
}

.upgrade {
    background-color: #080b12;
    height: calc(926px - 852px);
    justify-content: end;
    align-items: center;
    padding-right: 4px;
}


button {
    background-color: #080b12;
    height: 40px;
    width: 200px;
    border-radius: 50px;
}

.artists {
    height: calc(852px - 74px);
    overflow-y: scroll;
}

.categories {
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 2em;
    padding-bottom: 1rem;
}

.recently-played {
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
}

h2 {
    padding: 0.5rem 1rem;
}

div.card {
    width: calc((1050px / 6) - 1rem);
}

.card-img>img {
    width: 150px;
}

.card>p {
    width: 150px;
    text-align: center;
    padding-top: 0.8rem;
}

.card>p.font-xxs {
    padding-top: 0.5rem;
}

.for-john {
    padding-top: 1rem;
}

.for-john>p {
    padding-left: 1rem;
}

div.suggestions-card {
    width: 159px;
    padding-top: 0.5em;
}



div.suggestions-card>p {
    width: 150.15px;
    text-align: center;
    padding-top: 0.8rem;
}

.popular>p {
    padding-left: 1rem;
}

div.popular-card {
    width: 159px;
    padding-top: 0.5em;
}

.popular-card img {
    border-radius: 50%;
}


div.popular-card>p {
    width: 150.15px;
    text-align: center;
    padding-top: 0.8rem;
}




/*MAIN*/



/*FOOTER*/

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
    height: calc(100vh -927px);
    background-color: #282828;
}

.listening-now {
    height: 75px;
    display: flex;
    align-items: center;
    column-gap: 0.5em;
}


.current-song>img {
    width: 35px;
}

.current-song.icons {
    font-size: 13px;
    padding-left: 2.5em;
}

.fa-folder {
    padding-left: 1em;
}

.task-bar {
    padding-bottom: 1rem;
}

.song-buttons {
    text-align: center;
    padding-bottom: 5px;
}

.song-buttons i:not(.fa-circle-play) {
    padding: 1.2em 0.4em;
    vertical-align: middle;
    font-size: 13px;
}

.fa-circle-play {
    font-size: 28px;
    padding: 0 0.5em;
    vertical-align: middle;
}

.minutes {
    display: flex;
    align-items: center;
}

.song-progress {
    position: relative;
    width: 400px;
    background-color: #797979;
    height: 3px;
    border-radius: 5px;
    margin: 0 1em;
}

.actual-progress {
    position: absolute;
    background-color: white;
    height: 3px;
    width: 100px;
    border-radius: 5px;
}



.foot-row>i {
    font-size: 10px;
    padding: 0 0.5em;
}

.foot-row {
    width: 180px;
}

.volume-bar {
    position: relative;
    height: 3px;
    background-color: #797979;
    width: 100px;
    border-radius: 5px;
    display: inline-block;
    vertical-align: middle;
}

.actual-volume {
    position: absolute;
    background-color: white;
    height: 3px;
    width: 30px;
    border-radius: 5px;
}











/*FOOTER*/



/*MEDIA  QUERIES*/

@media screen and (max-width: 996px) {
    body {
        width: 996px;
    }

    header {
        width: 200px;
    }
}

@media screen and (max-width: 770px) {
    body {
        width: 770px;
    }

    header {
        width: 200px;
    }
}

@media screen and (max-width: 580px) {
    body {
        width: 580px;
    }

    header {
        width: 200px;
    }

}

@media screen and (max-width: 480px) {
    body {
        width: 480px;
    }

    header {
        width: 40px;
    }

}